.contact {
    width: 100vw;
    height: calc(100vh - 90px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;

    form {
        background: rgb(255, 255, 255);
        width: 100%;
        min-height: 80vh;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: inset 0 0 15px #999A99;
        margin: 4rem 2rem 0 2rem;
        & .form-divider {
            width: 80%;
            display:flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-direction: column;

        }

        & .form-divider--section {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            & > label, & > input {
                text-align: left;
                font-size: 2rem;
                width: 90%;
                margin: .5rem .5rem;
            }
            & > input {
                box-shadow: inset 0 0 1px black;
                padding: .5rem 0;
                font-size: 2rem;
            }
            & > textarea {
                width: 100%;
                height: 20rem;
                box-shadow: inset 0 0 1px black;
            }

            .error {
                color: red;
            }
        }
        & > * {
            margin: 1.5rem 0;
        }

        .btns {
            display:flex;
            justify-content: space-around;
            align-items: center;
            width: 80%;
            button {
                height: 4rem;
                border-radius: 1rem;
                background-color: rgb(216, 216, 216);
                margin: 0 1.5rem;
                flex: 1;
                font-size: 1.5rem;
                font-weight: 500;
            }
            button[type='submit'] {
                background-color: #91caffbe;
            }
        }
        a {
            background-color: white;
            height: 5rem;
            width: 5rem;
            position: absolute;
            top: 1rem;
            left: 2rem;
            font-size: 5rem;
            color: rgba(0, 0, 0, 0.726);
            border-radius: 50%;
            box-shadow: 1px 1px 5px black;
        }
    }

    .success {
        h1 {
            color: rgb(56, 192, 56);
        }
    }
    .error {
        h1 {
            color: rgb(214, 55, 55);
        }
    }
    .success, .error {
        margin:4rem auto;
        width: 90%;
        min-height: 50vh;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: white;
        h1 {
            font-size: 5rem;
            font-weight: 800;
            letter-spacing: 0.5rem;
            margin-bottom: 2rem;
        }
        h2 {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        button {
            color: rgb(22, 20, 20);
            width: 12rem;
            height: 4rem;
            background: rgb(91, 203, 231);
            font-size: 2rem;
            font-weight: 600;
            box-shadow: 1px 1px 8px black;

        }
    }
    // @media screen and (min-width: 900px) {
    //     width: 80vw;
    //     max-width: 600px;
    // }
}
